[submodule "spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "external/glob"]
	path = external/glob
	url = https://github.com/p-ranav/glob
[submodule "external/zlib"]
	path = external/zlib
	url = https://github.com/madler/zlib
	ignore = dirty
